

<nav id="sidebar" class="navbar navbar-expand navbar-light"  style="background-color: #e3f2fd;">
    <div class="sidebar-header">
      <h3 >KARAZ-DOC</h3>
  </div>
  <ul class="list-unstyled components">

    <li >

        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Introduction</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="introduction#a-propos-de-karaz">A propos de Karaz Studio</a>

            </li>
            <li>
                <a href="introduction#a-qui-s'adresse-ce-chapitre">
                  A qui s'adresse ce chapitre  </a>
            </li>
            <li>
              <a href="introduction#installation-karaz-studio" class="white-local" >
                Installation de karaz studio  </a>
          </li>
          <li>
            <a href="introduction#Architecture-fonctionnelle-karaz-studio " class="white-local">
              Architecture fonctionnelle karaz studio </a>
        </li>
        <li>
          <a href="introduction#Modules-métier-Karaz ">
            Modules métier Karaz </a>
      </li>
      <li>
        <a href="introduction#modeles-metiers-karaz">
          Modèles métier Karaz
        </a>
    </li>

        </ul>
        </li>

        <li>
          <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">         BPMN sous KARAZ </a>

          <ul class="collapse list-unstyled" id="pageSubmenu2">

              <li>
                  <a href="bpmn#Pourquoi-BPMN-dans-Karaz"> Pourquoi le BPMN dans Karaz?</a>
              </li>
              <li>
                  <a href="bpmn#Comment-le-BPMN-est-implémenté-sous-Karaz">
                    Comment le BPMN est implémenté sous Karaz  </a>
              </li>
              <li>
                <a href="bpmn#Eléments-de-modélisation-des-processus "> Eléments de modélisation des processus </a>
            </li>

            <li>
              <a href="bpmn#Workflows-internes-des-activités">
                Workflows internes des activités
              </a>
          </li>
          </ul>
      </li>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Les processus du modèle</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="processus# configuration-de-processus
                  "> Configuration de processus </a>
              </li>
              <li>
                  <a href="processus#creation-de-processus">Création de processus</a>
              </li>
              <li>
                  <a href="processus#Les-activités"> Les activités </a>
              </li>
          </ul>

      </li>
      <li>
          <a href="/widget">Les vues</a>
      </li>

        </ul>

  </nav>
